/* General layout */
.formEditor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}

/* Form Name Input */
.formNameInput {
    flex: 1;
    font-size: 1rem;
    padding: 0.3rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-input);
    color: var(--text-color);
}
.empty{
    display: flex;
    flex: 1;
}

/* Tabs (Flow and Response) */
.tabs {
    display: flex;
    gap: 0.5rem;
    justify-content: center; 
    flex: 1;
}

.tab {
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.tab:hover {
    background-color: var(--bg-tab-hover);
}

.activeTab {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #7EA6FF;
}

/* Actions (Save and Share Buttons) */
.actions {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.saveBtn,
.shareBtn {
    padding: 0.25rem 0.9rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.saveBtn {
    background: #4ADE80CC;
    color: white;
}

.shareBtn {
    background: #1A5FFF;
    color: white;
    cursor: pointer;
}

.shareBtn:disabled {
    background-color: var(--btn-disabled);
    cursor: not-allowed;
}

/* Content */
.editorContent {
    display: flex;
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 18%;
    background-color: var(--bg-section);
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin-left: 1vw;
    border-radius: 5px;
    height: 100vh;
    transition: background-color 0.3s, border-color 0.3s;
}

.section{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sidebar h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: left;
    margin-left: 0;
}

.section button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    align-items: center; /* Aligns the image and text vertically in the middle */
    justify-content: flex-start; /* Aligns content to the left */
    width: 48%;
    padding: 0.7rem;
    margin-bottom: 0.25rem;
    background-color: var(--btn-secondary);
    color: var(--btn-text);
    border: 1px solid var(--button-border-color);
    border-radius: 0.5rem;
    gap: 0.5rem; /* Adds spacing between the image and text */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.section button:hover {
    background-color: var(--btn-secondary-hover);
}

/* Canvas */
.canvas {
    flex: 1;
    padding: 1rem;
    background-color: var(--bg-canvas);
    overflow-y: auto;
    border: none;
    transition: background-color 0.3s, border-color 0.3s;
}

/* */


.right{ 
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--btn-primary);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.closeButton{
    background-color: var(--bg-color);
    border: none;
    box-shadow: none;
}

.responses{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #69696973;
    height: 80vh;
    font-size: 2rem;
    flex-direction: column;
}

/* Dark Theme */
.dark {
    --bg-color: #1F1F23;
    --bg-header: #18181B;
    --bg-section: #18181B;
    --bg-input: #2a2a2a;
    --bg-tab-hover: #333;
    --bg-canvas: #121212;

    --text-color: #ffffff;
    --border-color: #FFFFFF29;
    --button-border-color: #27272A;

    --btn-primary: #1A5FFF;
    --btn-secondary:  #1F1F23;
    --btn-secondary-hover: #444;
    --btn-disabled: #555;
    --btn-text: #ffffff;
}

/* Light Theme */
.light {
    --bg-color: #ffffff;
    --bg-header:  #ffffff;
    --bg-section: #ffffff;
    --bg-input: #ffffff;
    --bg-tab-hover: #dcdcdc;
    --bg-canvas:  #ffffff;

    --text-color: #000000;
    --border-color: #00000029;
    --button-border-color : #D6D6D6;

    --btn-primary: #007bff;
    --btn-secondary: #ffffff;
    --btn-secondary-hover: #d4d4d4;
    --btn-disabled: #d3d3d3;
    --btn-text: #000000;
}
