.dashboard {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    background: var(--bg);
}

.header {
    display: flex;
    justify-content: space-between; /* Space between left, center, and right sections */
    align-items: center;           /* Align items vertically */
    padding: 0 1rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFFFFF29
}
.left{
    flex: 2.5;
}

.workspace {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #FFFFFF29;
    border-radius: 5px;
    cursor: pointer;
    
}

.arrowIcon {
   margin-left: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #1D1D1D;
    width: 100%;
}

.dropdownItem {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid #FFFFFF29;
    border-radius: 5px;
    border-top: 0px;
}

.dropdownItem:hover {
   color:  #FFA54C;
}

.right{
    flex: 2.5; /* Takes up equal space to balance the layout */
    display: flex;
    justify-content: flex-end; /* Push buttons to the right */
    gap: 50px;
    margin-bottom: 10px; /* Space between buttons */
}
.shareBtn{
    background: #1A5FFF;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px; 
    margin-right: 20px ;
}

.toggleButton {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

.createFolder {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10vw;
}


.createButton {
    padding: 10px 20px;
    background: #FFFFFF14;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.folderContainer {
    display: flex;
    gap: 15px;
    width: 70vw;
}

.folderCard {
    background-color: var(--card-bg);
    border-radius: 8px;
    height: 15px;
    display: flex;
    padding: 10px 15px;
    gap: 2px;
    width: 15%;
}
.folderCard p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteButton{
    padding: 0;
    background-color: var(--bg);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Light Mode */
.light {
    --bg-color:  #FFFFFF;
    --text-color: #000000;
    --button-bg: #f0f0f0;
    --button-text: #000000;
    --card-bg: #f9f9f9;
}

/* Dark Mode */
.dark {
    --bg: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #18181B, #18181B);
    --text-color: #ffffff;
    --button-bg: #333333;
    --button-text: #ffffff;
    --card-bg:#FFFFFF14;
    --del-bg : transparent;

}
